



<div class="jumbotron">
    <h2 style="text-align: center;padding: 0 10px 5px 10px;" class="sam">User Is already registered with us !</h2>
    <br>
    <h3 class="sam" style="text-align: center;padding: 0 10px 5px 10px;">Please use Another Mobile Number To get Daily updates !</h3>
    <div class="text-center" style="padding-top: 12px;">
        <button type="submit" class="btn btn-danger text-center"><a href="/users/register">Go back</a></button>
    </div>
</div>

