<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <header></header>

    <main>
      <div class="jumbotron">
        <h1 style="padding: 0 5px 15px 5px; text-align: center;" class="B">
          Welcome to Covid_19 SMS Service Application !
        </h1>

        <h4 style="padding: 5px 8px 10px 8px; text-align: center;">
          Do you want to recieve Coronavirus Daily updates ! if yes then
          Register Now !
        </h4>
        <div class="text-center" style="margin-top: 15px;">
          <button type="button" class="btn btn-primary text-center">
            <a href="/users/register">Register</a>
		  </button>
		  
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
